* {
    box-sizing: border-box;
    font-size: 18px;
}

body {
    font-family: Tahoma, sans-serif;
    color: #2D2F32;
    max-width: 55rem;
    margin-right: auto;
    margin-left: auto;
    margin-top: 0.2rem;
}

a {
    color: #2D2F32;
}

a:hover {
    color: #787A6B;
}

.whole-page-container {
    height: 99vh;
    display: grid;
    grid-template-rows: 3rem auto 3rem;
    min-width: 26rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

.header-item, .footer-item {
    border: 2px solid #797B79;
    background-color: #EEF0ED;
    padding-left: 1rem;
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
    border-radius: 15px;
}

.content-item {
    padding: 0.5rem;
}

.div-table {
    display: table;
    width: 100%;
}
.div-table-row {
    display: table-row;
}

.div-table-heading {
    display: table-header-group;
    background-color: #EEF0ED;
    font-weight: bold;
}

.div-table-body {
    display: table-row-group;
}

.div-table-cell, .div-table-cell-form, .div-table-head {
    display: table-cell;
    padding: 3px 10px;
    border:0.5px solid #999999;
    max-width: 50px;

}
.div-table-cell-form{
    border: 0;
}
div.form
{
    text-align: center;
}
form
{
    display: inline-block;
    text-align: left;
}
.error-block, .message-block {
    background: rgba(251, 205, 208, 0.36);
    border: 1px solid #bd444e;
    border-radius: 10px;
    min-height: 2rem;
    margin-bottom: 0.25rem;
    text-align: center;
}

.message-block{
    background: rgba(86, 189, 103, 0.23);
    border-color: #36ce62;
}



