<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet"
          type="text/css" href="styles.css">
    <title></title>
</head>
<body>

<main tpl-include="{{ $contentPath }}">

</main>

</body>
</html>
