<div class="div-table">
    <div tpl-if="$message==='fail'" id='error-block' class='error-block'>
        Eesnimi peab olema 1 kuni 21 märki!<br>
        Perekonnanimi peab olema 2 kuni 22 märki!
    </div>

<div class="div-table-row">
    <div class="form">
        <!-- Input textbox -->
        <form action=".?command=save_author" method="post">

            <input type="hidden" name="id" value="{{ $author->id }}">

            <label for="firstName">Eesnimi:</label>
            <input type="text" name="firstName" id="firstName" value="{{ $author->firstName }}">
            <br>

            <label for="lastName">Perekonnanimi:</label>
            <input type="text" name="lastName" id="lastName" value="{{ $author->lastName }}">
            <br>

            <label for="grade">Hinnang:</label>
            <tpl tpl-foreach="[1, 2, 3, 4, 5] as $i">
                {{ $i }}<input type="radio" id="grade" name="grade" tpl-checked="$author->grade==$i" value="{{ $i }}"/>
            </tpl>
            <br>

            <input type="submit" value="Salvesta" name="submitButton">
            <input form="authorDeletingForm" tpl-if="$message==='edit'" type='submit' value='Kustuta' name='deleteButton'>
        </form>

        <form tpl-if="$message==='edit'" id="authorDeletingForm" method="post" action="?command=delete_author">
            <input type="hidden" name="id" value="{{ $author->id }}">
        </form>
    </div>

</div>
</div>