<div class="div-table">
<!-- error block here -->
    <div tpl-if="$message==='fail'" id='error-block' class='error-block'>Pealkiri peab olema 3 kuni 23 märki!</div>
<div class="div-table-row">
    <div class="form">
        <!-- Input textbox -->
        <form action="?command=save_book" method="post">

            <input type="hidden" name="id" value="{{ $book->id }}">

            <label for="title">Pealkiri:</label>
            <input type="text" name="title" id="title" value="{{ $book->title }}">
            <br>

            <label for="author1">Autor 1:</label>
            <select id="author1" name="author1">
                <option value></option>
                <option tpl-foreach="$authors as $author" tpl-selected="$author1==$author->id" value="{{ $author->id }}">{{ $author->getFullName() }}</option>
            </select>
            <br>

            <label for="author2">Autor 2:</label>
            <select id="author2" name="author2">
                <option value></option>
                <option tpl-foreach="$authors as $author" tpl-selected="$author2==$author->id" value="{{ $author->id }}">{{ $author->getFullName() }}</option>
            </select>
            <br>

            <label for="grade">Hinnang:</label>
            <tpl tpl-foreach="[1, 2, 3, 4, 5] as $i">
                {{ $i }}<input type="radio" id="grade" name="grade" tpl-checked="$book->grade==$i" value="{{ $i }}"/>
            </tpl>
            <br>

            <label for="isRead">Loetud:</label>
            <input id="isRead" name="isRead" type="checkbox" tpl-checked="$book->isRead==1"
                   value="1" >
            <br>

            <input type="submit" value="Salvesta" name="submitButton">
            <input form="bookDeletingForm" tpl-if="$message==='edit'" type='submit' value='Kustuta' name='deleteButton'>

        </form>

        <form tpl-if="$message==='edit'" id="bookDeletingForm" method="post" action=".?command=delete_book">
            <input type="hidden" name="id" value="{{ $book->id }}">
        </form>
    </div>
</div>
</div>