<div tpl-if="$message==='success'" id='message-block' class='message-block'>Autor lisatud!</div>
<div class="div-table">
    <div class="div-table-heading">
        <div class="div-table-row">
            <div class="div-table-head">Eesnimi</div>
            <div class="div-table-head">Perekonnanimi</div>
            <div class="div-table-head">Hinne</div>
        </div>
    </div>


    <div tpl-foreach="$authors as $author" class="div-table-row">
        <div class="div-table-cell">
            <a href="?command=edit_author&id={{ $author->id }}"> {{ $author->firstName }} </a>
        </div>
        <div class="div-table-cell"> {{ $author->lastName }}</div>
        <div class="div-table-cell"> {{ $author->grade }}  </div>
    </div>

</div>
</div>