<div tpl-if="$message==='success'" id='message-block' class='message-block'>Raamat lisatud!</div>
<div class="div-table">
    <div class="div-table-heading">
        <div class="div-table-row">
            <div class="div-table-head">Pealkiri</div>
            <div class="div-table-head">Autorid</div>
            <div class="div-table-head">Hinne</div>
        </div>
    </div>


    <div class="div-table-row" tpl-foreach="$books as $book">

        <div class="div-table-cell">
            <a href="?command=edit_book&id={{ $book->id }}">{{ $book->title }}</a>
        </div>
        <div class="div-table-cell"> {{ $book->getAuthorsNames() }}</div>
        <div class="div-table-cell"> {{ $book->grade }}</div>

    </div>
</div>