<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Book list page</title>
    <link href="styles.css" rel="stylesheet">
</head>

<body id="{{ $bodyId }}">
<div class="whole-page-container">
    <!-- Menu -->
    <div class="header-item">
        <nav>
            <div>
                <a href="?command=show_booklist" id="book-list-link">Raamatud</a> |
                <a href="?command=add_new_book" id="book-form-link">Lisa raamat</a> |
                <a href="?command=show_authors_list" id="author-list-link">Autorid</a> |
                <a href="?command=add_new_author" id="author-form-link">Lisa autor</a>
            </div>
        </nav>
    </div>

    <!-- Content -->
    <div class="content-item">
        <main tpl-include="{{ $template }}" ></main>
    </div>

    <div class="footer-item">
        <footer>ICD0007 Näidisrakendus</footer>
    </div>
</div>
</body>
</html>