
<table width="100%">
    <tr>
        <td width="5%"></td>
        <td width="90%">
            <table width="100%">  
                <tr>
                    <td> <a href="https://www.google.com/">Avaleht</a> | <a href="https://www.google.com/">Nimekiri</a></td>
                    <td style="text-align: right;"> <a href="https://www.google.com/"> Seaded</a></td>
                </tr>
            </table>
            <br> 
            
            <table width="100%">
                <tr>
                    <td width="20%">Nimi:</td>
                    <td >Jaak</td>
                </tr>
            
                <tr>
                    <td width="20%">Perekonnanimi:</td>
                    <td>Tamm</td>
                </tr>
                    <td width="20%">Telefon:</td>
                    <td>8319 1382</td>
                <tr>
            
                </tr>
            </table>
            <br>
            <br>
            <br>
            <table width="100%">
                <tr>
                    <td width="33.3%">Ehitajate tee5, 19086 Tallinn</td>
                    <td width="33.3%" style="text-align: center;">620 2002</td>
                    <td width="33.3%" style="text-align: right;">info@taltech.ee</td>
                </tr>
            </table>
            
        </td>
        <td width="5%"></td>
    </tr>
</table>
test