

<table width="100%">
    <tr>
        <td width="5%"></td>
        <td width="90%">
            <table width="100%">  
                <tr>
                    <td> <a href="https://www.google.com/">Avaleht</a> | <a href="https://www.google.com/">Nimekiri</a</td>
                    <td style="text-align: right;"> <a href="https://www.google.com/"> Seaded</a></td>
                </tr>
            </table>
            
            <table width="100%">
                <tr>
                    <td width="47%"> 
                        <h1>What is Lorem Ipsum?</h1>
                        <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                            when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                            It has survived not only five centuries, but also the leap into electronic typesetting,
                            remaining essentially unchanged. It was popularised in the 1960s with the release of 
                            Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing 
                            software like Aldus PageMaker including versions of Lorem Ipsum.
                        </p>
                    </td>
                    <td width="6%"></td>
                    <td width="47%">
                        <h1>Why do we use it?</h1>
                        <p>It is a long established fact that a reader will be distracted by 
                           the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it
                            has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', 
                            making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as
                            their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. 
                            Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
                        </p>
                    </td>
                </tr>
            </table>
            <br>
            <br>
            <br>
            <table width="100%">
                <tr>
                    <td width="33.3%">Ehitajate tee5, 19086 Tallinn</td>
                    <td width="33.3%" style="text-align: center;">620 2002</td>
                    <td width="33.3%" style="text-align: right;">info@taltech.ee</td>
                </tr>
            </table>
        </td>
        <td width="5%"></td>
    </tr>
</table>
