

<table width="100%">
    <tr>
        <td width="5%"></td>
        <td width="90%">
            <table width="100%">  
                <tr>
                    <td> <a href="https://www.google.com/">Avaleht</a> | <a href="https://www.google.com/">Nimekiri</a</td>
                    <td style="text-align: right;"> <a href="https://www.google.com/"> Seaded</a></td>
                </tr>
            </table>
            <br> 
            <table width="100%" border="1">
                <tr>
                    <td width="20%" style="text-align: center;"><b>Eesnimi</b></td>
                    <td width="60%" style="text-align:center"><b>Perekonnanimi</b></td>
                    <td width="20%" style="text-align:center"><b>Telefon</b></td>
                </tr>
            
                <tr>
                    <td width="20%"><a href="front.html">Peeter</a></td>
                    <td width="60%">Tamm</td>
                    <td width="20%">4321 839</td>
                </tr>
            
                <tr>
                    <td width="20%">Liis</td>
                    <td width="60%">Anne</td>
                    <td width="20%">1943 1392</td>
                </tr>
            </table>
            
            <br>
            <br>
            <br>
            <table width="100%">
                <tr>
                    <td width="33.3%">Ehitajate tee5, 19086 Tallinn</td>
                    <td width="33.3%" style="text-align: center;">620 2002</td>
                    <td width="33.3%" style="text-align: right;">info@taltech.ee</td>
                </tr>
            </table>
        </td>
        <td width="5%"></td>
    </tr>
</table>